/* 
fonts {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
colors {
    background-color: #346bc3;
}

e3f2fd
*/

/* General configuration */

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: #b5c1ca;
    height: 100%;
    overflow-y: hidden;
}

body > .inner {
    display: none;
}

body.pg-loaded > .inner {
    display: block;
}
/* Header and navbar styles */

.navbar {
    height: 5rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.35);
    background-color: #e3f2fd;
    font-size: 1.8rem;
}

.navbar form {
    width: 40%;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.hide {
    display: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 90%;
}

.title-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 1.5rem;
}

ul li:last-of-type {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    font-weight: 700;
}

.units {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    color: black;
    border: none;
    transition: all 0.2s ease-in-out;
}

.units:hover {
    font-weight: 700;
    color: black;
}

.search {
    border: 1px solid black;
    color: black;
}

.search:hover,
.units:hover {
    background-color: #b5c1ca;
    color: black;
    border: 1px solid black;
    border-radius: 0.25rem;
}

.search:active {
    border: 1px solid white !important;
    background-color: black !important;
    outline: none !important;
}

.search:focus {
    border: none !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}

.title,
p {
    font-family: "Oswald", sans-serif;
    font-size: 3.5rem;
}

/*  Weather and forecast containers */

.card-container {
    font-size: 70%;
    height: 80vh;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
}

.forecast-container {
    height: 100%;
    width: 75%;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.35);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.35);
}

.containers {
    display: flex;
    height: 50%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.3rem;
    background-color: #e3f2fd;
}

.img-container {
    height: 50%;
}

/* Current Weather Card */

.main-card {
    padding: 0 !important;
    width: 93%;
    height: 95%;
}

.forecast,
.main-card {
    transition: all 0.4s ease;
    text-align: center;
    background-color: #b5c1ca;
    border: 0.1rem solid black;
}

.forecast:not(.cityForecast):hover,
.main-card:hover {
    box-shadow: 1rem 1rem 0.5rem 0rem rgba(0, 0, 0, 0.3);
    border: 0.2rem solid black;
    transform: translate(-0.5rem, -0.7rem);
}

.main-card:hover .temp-container,
.forecast:not(.cityForecast):hover .forecast-temp__container {
    border: 0.2rem solid black;
}
.forecast:not(.cityForecast):hover .body-container,
.main-card:hover .body-container {
    border-top: 0.2rem solid black;
}

.forecast-img {
    width: 100%;
    height: 50%;
    margin-top: 1rem;
    margin: 0 auto;
}

.forecast-temp {
    font-size: 2rem;
}

.card-img {
    background-color: white;
    width: 100%;
    height: 100%;
}

.card-body {
    padding: 0 !important;
    background-color: #b5c1ca;
    font-family: "Oswald", sans-serif;
    width: 50%;
}

.card-title {
    display: flex;
    justify-content: center;
    align-content: center;
}

.current-temp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    font-size: 8rem;
    background-color: white;
}

.current-date {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.current-weather {
    font-size: 2rem;
    margin: 0 auto;
}

.forecast-date {
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    background-color: #b5c1ca;
    border-top: 0.1rem solid black;
}

.forecast-temp__container,
.temp-container {
    background-color: white;
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black;
}

.modal-header,
.modal-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.form-control {
    width: 50%;
    height: 100%;
    font-size: 1.5rem;
}

form .btn {
    width: 20%;
    height: 100%;
    font-size: 1.5rem;
}

.modal-card {
    border: 1px solid;
}

.forecast-dialog {
    max-width: none;
    width: 90%;
}

.cityForecast-weather,
.cityForecast-temp,
.cityForecast-date {
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    body {
        overflow-y: visible;
        font-size: 1rem;
    }

    .navbar {
        height: 10rem;
        margin: 0 auto;
        padding: 0 !important;
        z-index: 99;
    }

    .navbar-collapse {
        transition: all 0.2s ease-in-out;
    }

    .title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        margin: 0;
    }

    .menu-container {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50%;
        margin: 0;
        z-index: 98;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 97;
        border: 1px solid green;
    }

    .nav-item {
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid blue;
    }

    .nav-item:last-of-type {
        display: flex;
        align-items: center;
        justify-content: flex-start !important;
        width: 40%;
        height: 100%;
        z-index: 96;
    }

    .nav-item:last-of-type span {
        margin-top: 10%;
        z-index: 95;
    }

    .nav-item:first-of-type {
        height: 100%;
    }

    .navbar form {
        display: none;
    }

    .searchBtn {
        background-color: transparent !important;
        border: none;
        height: 100%;
    }

    .card-container {
        flex-direction: column;
        border: 0.2rem solid black;
        height: 150vh;
        margin-top: 0rem;
        z-index: 1;
    }

    .containers {
        flex-direction: column;
        width: 100%;
    }

    .container {
        width: 92%;
        height: 30%;
    }

    .upper {
        height: 40%;
    }

    .lower {
        height: 60%;
    }

    .forecast-container {
        margin-top: 0;
        width: 92%;
        height: 70%;
    }

    .main-card {
        flex-direction: row;
    }

    .img-container {
        height: 100%;
        width: 50%;
    }

    .body-container {
        height: 100%;
        width: 50%;
        border-top: none;
        border-left: 0.1rem solid black;
    }

    .main-card:hover .body-container,
    .forecast:hover .body-container {
        border-top: none;
        border-left: 0.1rem solid black;
    }

    .forecast {
        flex-direction: row;
    }

    .show {
        display: inline;
    }

    .onoffswitch {
        position: relative;
        width: 77px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #000000;
        border-radius: 26px;
    }
    .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before,
    .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 36px;
        padding: 0;
        line-height: 36px;
        font-size: 19px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "°C";
        padding-left: 11px;
        background-color: #34a7c1;
        color: #050000;
    }
    .onoffswitch-inner:after {
        content: "°F";
        padding-right: 11px;
        background-color: #eeeeee;
        color: #000000;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block;
        width: 20px;
        margin: 8px;
        background: #ffffff;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 37px;
        border: 2px solid #000000;
        border-radius: 26px;
        transition: all 0.3s ease-in 0s;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px;
    }
}
