/* 
fonts {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
colors {
    background-color: #346bc3;
}
*/

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5rem;
    box-shadow: 0px 10px 40px 1px rgba(0, 0, 0, 0.35);
    background-color: #e3f2fd;
    font-size: 1.8rem;
}

.title {
    font-family: "Oswald", sans-serif;
    font-size: 3.5rem;
}

.degrees .location {
    font-family: "Roboto", sans-serif;
}

.location {
    font-weight: 700;
    margin-right: 0;
}

.card-container {
    height: 45rem;
    margin-top: 2rem;
    display: flex;
}

.card {
    width: 33%;
    margin: 1.3rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
    background-color: #e3f2fd;
}

.forecast-container {
    display: flex;
    flex-direction: column;
    height: 45rem;
}

.containers {
    display: flex;
}

.main-card {
    border: 1px solid black;
}

.forecast {
    transition: all 0.1s ease;
    text-align: center;
}

.forecast:hover {
    box-shadow: 18px 18px 20px 0px rgba(0, 0, 0, 0.3);
    transform: translate(-1px, -3px);
}

.forecast-img {
    width: 100%;
    height: 50%;
    margin-top: 1rem;
}

.forecast-temp {
    text-align: center;
    font-size: 30px;
}
