/* 
fonts {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
colors {
    background-color: #346bc3;
}
*/

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
}

.center {
    max-width: 120rem;
    display: flex;
    justify-content: space-between !important;
}

.nav-container {
    width: 100%;
    display: flex;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 2px solid red;
}

.navbar{
    display: flex;
    justify-content: center;
    box-shadow: 0px 10px 40px 1px rgba(0,0,0,0.35);
    background-color: #e3f2fd;
    font-size: 1.8rem;
}

.navbar-brand {
    margin-left: 1.7rem;
}

ul li {
    display: flex;
    align-items: center;
}

ul li:last-of-type {
    margin-right: 1.5rem;
}

.menu {
    display: flex;
    align-items: center;
}

.title{
    font-family: 'Oswald', sans-serif;
    font-size: 3.5rem;
}

.degrees, .location{
    font-family: 'Roboto', sans-serif;
}

.degrees:hover {
    border-bottom: 2px solid #889197;
}

.location{
    font-weight: 700;
    margin-right: 0;
}

.card-container {
    height: 46rem;
    width: 110rem;
    display: flex;
    align-items: flex-start;
    margin: 1rem auto;
    border: 2px solid red;
}

.card {
    box-shadow: 0px 10px 40px 1px rgba(0,0,0,0.35);
    background-color: #e3f2fd;
    margin-right: 1rem;
}

.card:last-of-type {
    margin-right: 0;
}

.card-img {
    background-color: #889197;
}

.complemmentary-img {
    max-height: 100%;
}

.container {
    border: 2px solid black;
}